<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<br>
<div>
    <%= link_to "< Back to articles", articles_path %> | <%= link_to "Edit Article", edit_article_path(@article)%> | <%= link_to "Remove Article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
<br>
<% if @article.comments.length > 0 %>
<h2>Comments:</h2>
<% end %>

<%= render @article.comments %>

<br>

<%= render 'comments/form' %>
